/node_modules
/public/hot
/public/css
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/report
coverage.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
